@keyframes bgAnimation {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}

.bg {
  background: linear-gradient(133deg, #f32b94, #0025f0);
  background-size: 400% 400%;
  height: 100vh;
  animation-name: bgAnimation;
  animation-duration: 27s;
  animation-iteration-count: infinite;
}
