@keyframes bgAnimation {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}

.bg {
  background: linear-gradient(133deg, #21d4fd, #b721ff);
  background-size: 400% 400%;
  min-height: 100vh;
  animation-name: bgAnimation;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
